.gradient {
    height: 1000px;
    margin-top: -18px;
    background-color: blue;
    background-image: linear-gradient(to right top, #6c95d1, #768ed3, #8585d3, #967bce, #a86fc6);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-flexbox;
}

header {
    background-color: lightskyblue;
    text-align: center;
    padding: 0px;
    margin: -2px;
    font-size: 40px;
    border-radius: 2px;
    color: blue;
}

nav {
    flex: 1;
    background: mintcream;
    padding: 10px;
    padding-top: 10px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 590px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

article {
    border-radius: 8px;
    flex: 3;
    background-color: lightblue;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    margin: 10px;
    margin-left: 110px;
    margin-top: -116px;
    margin-bottom: 0px;
}

footer {
    border-radius: 8px;
    background-color: lightgray;
    padding: 0px;
    margin: 2px;
    text-align: left;
    color: lightseagreen
}